Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.ts' --fix, npm run test

.lintstagedrc.json:

{
  "*.ts": ["eslint 'src/**/*.ts' --fix"],
  "*.spec.ts": ["npm run test"]
}

feat: delete dockerfile
  Dockerfile
  package.json
Due: none

fix: eslintgnore
  .eslintignore
Due: none

feat: add node container
  docker-compose.yml
  src/main/config/env.ts
Due: eslint 'src/**/*.ts' --fix

feat: docker dev environment
  package.json
Due: none

docs: documenting already created apis
  README.md
  docs/requirements/login.md
  docs/requirements/signup.md
Due: none

--amend
  README.md
Due: none

docs: fix requirements path
  README.md
Due: none

feat: ensure SignupController calls Authentication with correct values
  src/main/factories/signup/signup-factory.ts
  src/presentation/controllers/signup/signup-controller.ts
  tsconfig.json
Due: eslint 'src/**/*.ts' --fix

test: ensure SignupController calls Authentication with correct values
  src/presentation/controllers/signup/signup-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure SignupController return 500 if authentication throws
  src/presentation/controllers/signup/signup-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure SignupController returns a accessToken on success
  src/presentation/controllers/signup/signup-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure SignupController returns a accessToken on success
  src/presentation/controllers/signup/signup-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure SignupController returns 403 if AddAccount returns null
  src/presentation/controllers/signup/signup-controller.ts
  src/presentation/errors/email-in-use-error.ts
  src/presentation/errors/index.ts
  src/presentation/helpers/http/http-helper.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure SignupController returns 403 if AddAccount returns null
  src/presentation/controllers/signup/signup-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: separate factories in folders
  src/main/factories/controllers/login/login-controller-factory.ts
  src/main/factories/controllers/login/login-validation-factory.spec.ts
  src/main/factories/controllers/login/login-validation-factory.ts
  src/main/factories/controllers/signup/signup-controller-factory.ts
  src/main/factories/controllers/signup/signup-validation-factory.spec.ts
  src/main/factories/controllers/signup/signup-validation-factory.ts
  src/main/factories/decorators/log-controller-decorator-factory.ts
  src/main/factories/login/login-factory.ts
  src/main/factories/signup/signup-factory.ts
  src/main/factories/usecases/add-account/db-add-account-factory.ts
  src/main/factories/usecases/authentication/db-authentication-factor.ts
  src/main/routes/login-routes.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure calls LoadAccountByEmailRepository with correct email
  src/data/usecases/add-account/db-add-account.ts
  src/main/factories/usecases/add-account/db-add-account-factory.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure calls LoadAccountByEmailRepository with correct email
  src/data/usecases/add-account/db-add-account.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure DbAddAccount returns null if if LoadAccountByEmailRepository returns null
  src/data/usecases/add-account/db-add-account.ts
  src/domain/usecases/add-account.ts
  src/domain/usecases/authentication/db-authentication.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbAddAccount returns null if if LoadAccountByEmailRepository returns null
  src/data/usecases/add-account/db-add-account.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: remove this assigment of classes constructors
  src/domain/usecases/authentication/db-authentication.ts
  src/infra/criptography/encrypt-adapter.ts
  src/infra/criptography/jwt-adapter/jwt-adapter.ts
  src/presentation/controllers/login/login-controller.ts
  src/presentation/controllers/signup/signup-controller.ts
  src/presentation/protocols/validators/compare-fields-validation.ts
  src/presentation/protocols/validators/email-validation.ts
  src/presentation/protocols/validators/required-field-validation.ts
  src/presentation/protocols/validators/validation-composite.ts
Due: eslint 'src/**/*.ts' --fix

refactor: move validation to its own layer
  src/infra/validators/email-validator-adapter.spec.ts
  src/infra/validators/email-validator-adapter.ts
  src/main/factories/controllers/login/login-validation-factory.spec.ts
  src/main/factories/controllers/login/login-validation-factory.ts
  src/main/factories/controllers/signup/signup-validation-factory.spec.ts
  src/main/factories/controllers/signup/signup-validation-factory.ts
  src/presentation/protocols/index.ts
  src/presentation/protocols/validation.ts
  src/validation/protocols/email-validator.ts
  src/validation/validators/compare-fields-validation.spec.ts
  src/validation/validators/compare-fields-validation.ts
  src/validation/validators/email-validation.spec.ts
  src/validation/validators/email-validation.ts
  src/validation/validators/index.ts
  src/validation/validators/required-field-validation.ts
  src/validation/validators/required-fields-validation.spec.ts
  src/validation/validators/validation-composite.spec.ts
  src/validation/validators/validation-composite.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

fix: missing imports
  src/presentation/controllers/login/login-controller-protocols.ts
  src/presentation/controllers/signup/signup-controller-protocols.ts
Due: eslint 'src/**/*.ts' --fix

fix: pretty import path
  src/validation/validators/required-field-validation.ts
  src/validation/validators/validation-composite.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

chore: release 1.2.3
  package.json
Due: none

docs: update docs
  README.md
  docs/requirements/add-survey.md
  package.json
Due: none

refactor: move login and signup controllers to a folder
  src/main/factories/controllers/login/login-controller-factory.ts
  src/main/factories/controllers/signup/signup-controller-factory.ts
  src/presentation/controllers/login/login/login-controller-protocols.ts
  src/presentation/controllers/login/login/login-controller.spec.ts
  src/presentation/controllers/login/login/login-controller.ts
  src/presentation/controllers/login/signup/signup-controller-protocols.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/controllers/login/signup/signup-controller.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurveyController calls Validation with correct values
  src/presentation/controllers/add-survey/add-survey-controller-protocols.ts
  src/presentation/controllers/add-survey/add-survey-controller.ts
  src/presentation/protocols/controller.ts
  src/presentation/protocols/validation.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurveyController calls Validation with correct values
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move sut to a factory method
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurveyController returns a bad request if validation fails
  src/presentation/controllers/add-survey/add-survey-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurveyController returns a bad request if validation fails
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurveyController calls AddSurveyUseCase with correct values
  docs/requirements/add-survey.md
  src/domain/usecases/add-survey.ts
  src/presentation/controllers/add-survey/add-survey-controller-protocols.ts
  src/presentation/controllers/add-survey/add-survey-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurveyController calls AddSurveyUseCase with correct values
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurveyController returns 500 if AddSurveyuseCase throws
  src/presentation/controllers/add-survey/add-survey-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurveyController returns 500 if AddSurveyuseCase throws
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurveyController returns 204 on success
  src/presentation/controllers/add-survey/add-survey-controller.ts
  src/presentation/helpers/http/http-helper.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurveyController returns 204 on success
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

docs: update add-survey requirements
  docs/requirements/add-survey.md
Due: none

refactor: fix validation return type protocol
  src/presentation/protocols/validation.ts
Due: eslint 'src/**/*.ts' --fix

refactor: nove files to folders
  src/data/protocols/db/account/add-account-repository.ts
  src/data/protocols/db/account/load-account-by-email-repository.ts
  src/data/protocols/db/log/log-error-repository.ts
  src/data/usecases/add-account/db-add-account.ts
  src/infra/db/mongodb/account-repository/account-mongo-repository.ts
  src/infra/db/mongodb/log-repository/log-mongo-repository.ts
  src/main/factories/controllers/login/login-controller-factory.ts
  src/main/factories/usecases/add-account/db-add-account-factory.ts
  src/main/factories/usecases/authentication/db-authentication-factory.ts
Due: eslint 'src/**/*.ts' --fix
