Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, eslint --fix --ext .ts, npm run test

test: ensure LoadSurveyResultController returns 200 on success
  tests/main/presentation/controllers/load-survey-result-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

feat: load survey result
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  src/main/factories/controllers/login/login/login-validation-factory.ts
  src/main/factories/controllers/signup/signup/signup-validation-factory.ts
  src/main/factories/controllers/survey-result/load-survey-result-controller.factory.ts
  src/main/factories/controllers/survey-result/save-survey-result-controller.factory.ts
  src/main/factories/controllers/survey/add-survey/add-survey-validation-factory.ts
  src/main/factories/usecases/survey/load-surveys/load-answers-by-survey-factory.ts
  src/main/factories/usecases/survey/load-surveys/load-survey-result-factory.ts
  src/main/factories/usecases/survey/survey-result/check-survey-by-id-factory.ts
  src/main/routes/survey-result-routes.ts
  src/main/routes/survey-routes.ts
  tests/infra/db/mongodb/survey-mongo-repository.spec.ts
  tests/main/factories/add-survey-validation-factory.spec.ts
  tests/main/factories/login-validation-factory.spec.ts
  tests/main/factories/signup-validation-factory.spec.ts
  tests/main/routes/survey-result-routes.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

chore: bump to 2.4.0
  package.json
Due: none

refactor: controller factory folder structure
  src/main/factories/controllers/add-survey-controller.factory.ts
  src/main/factories/controllers/add-survey-validation-factory.ts
  src/main/factories/controllers/index.ts
  src/main/factories/controllers/load-survey-result-controller.factory.ts
  src/main/factories/controllers/load-surveys-controller.factory.ts
  src/main/factories/controllers/login-controller-factory.ts
  src/main/factories/controllers/login-validation-factory.ts
  src/main/factories/controllers/save-survey-result-controller.factory.ts
  src/main/factories/controllers/signup-controller-factory.ts
  src/main/factories/controllers/signup-validation-factory.ts
  src/main/routes/login-routes.ts
  src/main/routes/survey-result-routes.ts
  src/main/routes/survey-routes.ts
  tests/main/factories/add-survey-validation-factory.spec.ts
  tests/main/factories/login-validation-factory.spec.ts
  tests/main/factories/signup-validation-factory.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: main controllers and factories
  src/main/factories/controllers/add-survey-controller.factory.ts
  src/main/factories/controllers/load-survey-result-controller.factory.ts
  src/main/factories/controllers/load-surveys-controller.factory.ts
  src/main/factories/controllers/login-controller-factory.ts
  src/main/factories/controllers/save-survey-result-controller.factory.ts
  src/main/factories/controllers/signup-controller-factory.ts
  src/presentation/controllers/add-survey-controller.ts
  src/presentation/controllers/index.ts
  src/presentation/controllers/load-survey-result-controller.ts
  src/presentation/controllers/load-surveys-controller.ts
  src/presentation/controllers/login-controller.ts
  src/presentation/controllers/login/login/login-controller-protocols.ts
  src/presentation/controllers/login/signup/signup-controller-protocols.ts
  src/presentation/controllers/save-survey-result-controller.ts
  src/presentation/controllers/signup-controller.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller-protocols.ts
  src/presentation/controllers/survey/load-survey-result/load-survey-controller.protocols.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller-protocols.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result-protocols.ts
  src/presentation/helpers/http-helper.ts
  src/presentation/helpers/index.ts
  src/presentation/middlewares/auth-middleware.ts
  tests/main/decorators/log-controller-decorator.spec.ts
  tests/main/presentation/controllers/add-survey-controller.spec.ts
  tests/main/presentation/controllers/load-survey-result-controller.spec.ts
  tests/main/presentation/controllers/load-surveys-controller.spec.ts
  tests/main/presentation/controllers/login-controller.spec.ts
  tests/main/presentation/controllers/save-survey-result-controller.spec.ts
  tests/main/presentation/controllers/signup-controller.spec.ts
  tests/main/presentation/middlewares/auth-middleware.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: main usecases
  src/main/factories/controllers/add-survey-controller.factory.ts
  src/main/factories/controllers/load-survey-result-controller.factory.ts
  src/main/factories/controllers/load-surveys-controller.factory.ts
  src/main/factories/controllers/login-controller-factory.ts
  src/main/factories/controllers/save-survey-result-controller.factory.ts
  src/main/factories/controllers/signup-controller-factory.ts
  src/main/factories/middlewares/auth-middleware-factory.ts
  src/main/factories/usecases/check-survey-by-id-factory.ts
  src/main/factories/usecases/db-add-account-factory.ts
  src/main/factories/usecases/db-add-survey-factory.ts
  src/main/factories/usecases/db-authentication-factory.ts
  src/main/factories/usecases/db-load-account-by-token-factory.ts
  src/main/factories/usecases/db-load-survey-by-id-factory.ts
  src/main/factories/usecases/db-load-surveys-factory.ts
  src/main/factories/usecases/db-save-survey-result-factory.ts
  src/main/factories/usecases/index.ts
  src/main/factories/usecases/load-answers-by-survey-factory.ts
  src/main/factories/usecases/load-survey-result-factory.ts
  src/main/factories/usecases/save-survey-result-factory.ts
  src/main/factories/usecases/survey/add-survey/load-survey-by-id/db-load-survey-by-id-factory.ts
  tests/main/middlewares/body-parser.spec.ts
  tests/main/presentation/controllers/add-survey-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: remove duplicate code
  src/main/factories/controllers/load-survey-result-controller.factory.ts
  src/main/factories/usecases/db-check-survey-by-id-factory.ts
  src/main/factories/usecases/db-load-survey-by-id-factory.ts
  src/main/factories/usecases/index.ts
Due: npm run format, eslint --fix --ext .ts

refactor: move log mongo repository to a correct folder
  tests/infra/db/mongodb/log-mongo-repository.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: survey result mongo repository
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  tests/infra/db/mongodb/survey-result-mongo-repository.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

feat: setup .env
  .env-example
  .gitignore
  package-lock.json
  vite.config.ts
Due: npm run format, eslint --fix --ext .ts

feat: infra as a code with terraform
  .gitignore
  .history/infra/terraform/modules/ecr/output_20230907212902.tf
  .history/infra/terraform/modules/ecr/output_20230907213046.tf
  .history/terraform/locals_20230907211716.tf
  .history/terraform/locals_20230907212710.tf
  .history/terraform/main_20230907211608.tf
  .history/terraform/main_20230907212805.tf
  .history/terraform/main_20230907212807.tf
  .history/terraform/main_20230907212808.tf
  .history/terraform/main_20230907212810.tf
  .history/terraform/main_20230907212823.tf
  .history/terraform/modules/ecr/output_20230907211306.tf
  .history/terraform/modules/ecr/output_20230907212622.tf
  .history/terraform/modules/ecr/output_20230907212706.tf
  .history/terraform/modules/ecr/output_20230907212903.tf
  docker-compose.yml
  infra/.gitignore
  infra/.terraform.lock.hcl
  infra/main.tf
  infra/modules/ecr/ecr.tf
  infra/modules/ecr/output.tf
  infra/modules/ecr/variables.tf
  infra/modules/locals.tf
  infra/modules/tf-state/tf-state.tf
  infra/modules/tf-state/variables.tf
  infra/providers.tf
  infra/terraform.tfstate
Due: none

update changes
  infra/.gitignore
Due: none

fix: small adjstments
  infra/locals.tf
  infra/main.tf
  infra/modules/ecr/ecr.tf
  infra/modules/ecr/variables.tf
  infra/modules/locals.tf
Due: none

chore: bump to 2.4.1
  package.json
Due: none

chore: production dockerFile
  Dockerfile
Due: none

chore: resources destroyed
  infra/terraform.tfstate
Due: none

chore: swagger schema
  docker-compose.yml
  package-lock.json
  src/main/docs/schemas/add-survey-params-schema.ts
  src/main/docs/schemas/signup-params-schema.ts
  src/main/docs/schemas/survey-result-answer.schema.ts
  src/main/docs/schemas/survey-result-schema.ts
  src/main/docs/schemas/survey-schema.ts
Due: npm run format, eslint --fix --ext .ts

fix: remove swagger schema examples
  src/main/docs/schemas/account-schema.ts
  src/main/docs/schemas/survey-schema.ts
  src/main/docs/schemas/surveys-schema.ts
Due: npm run format, eslint --fix --ext .ts

chore: bump to 2.5.0
  package.json
Due: none

refactor: ensure decrypter is called with correct values
  tests/data/mocks/mock-criptography.ts
  tests/data/usecases/db-load-account-by-token.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: load account by token
  src/data/protocols/db/account/load-account-by-token-repository.ts
  src/data/usecases/db-load-account-by-token.ts
  src/domain/usecases/load-account-by-token.ts
  tests/data/mocks/mock-db-account.ts
Due: npm run format, eslint --fix --ext .ts

fix: HasherSpy faker
  package-lock.json
  tests/data/mocks/mock-criptography.ts
  tests/data/usecases/db-load-account-by-token.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

fix: schema
  src/main/docs/components/index.ts
  src/main/docs/schemas/account-schema.ts
  src/main/docs/schemas/api-key-auth-schema.ts
Due: npm run format, eslint --fix --ext .ts

refactor: checkSurveyById
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  tests/data/mocks/mock-db-survey-result.ts
  tests/data/usecases/db-check-survey-by-id.spec.ts
  tests/data/usecases/db-load-survey-result.spec.ts
  tests/domain/mocks/mock-survey-result.ts
  tests/infra/db/mongodb/account-mongo-repository.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: tests coverage
  src/infra/db/mongodb/helpers/mongo-helper.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  tests/infra/db/mongodb/survey-mongo-repository.spec.ts
  tests/infra/db/mongodb/survey-result-mongo-repository.spec.ts
  tests/main/factories/signup-validation-factory.spec.ts
  tests/main/presentation/controllers/load-survey-controller.spec.ts
  tests/main/validation/mocks/mock-email-validator.ts
  tests/main/validation/validators/email-validation.spec.ts
  vite.config.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

test: LoadAnswersBySurvey
  package-lock.json
  package.json
  tests/data/usecases/db-load-answers-by-survey.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

chore: add apollo server
  package-lock.json
  package.json
  src/main/graphql/apollo/apollo-server.ts
Due: npm run format, eslint --fix --ext .ts

feat: add graphql
  src/main/config/app.ts
  src/main/graphql/apollo/apollo-server.ts
  src/main/graphql/apollo/index.ts
  src/main/graphql/resolvers/index.ts
  src/main/graphql/resolvers/login.ts
  src/main/graphql/typedefs/base.ts
  src/main/graphql/typedefs/index.ts
  src/main/graphql/typedefs/login.ts
Due: npm run format, eslint --fix --ext .ts

feat: make login resolver use login controller
  src/main/adapters/apollo-server-resolver-adapter.ts
  src/main/graphql/resolvers/login.ts
Due: npm run format, eslint --fix --ext .ts

feat: graphql errors
  src/main/adapters/apollo-server-resolver-adapter.ts
  src/main/graphql/apollo/apollo-server.ts
Due: npm run format, eslint --fix --ext .ts

feat: graphql signup
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/main/graphql/apollo/apollo-server.ts
  src/main/graphql/resolvers/login.ts
  src/main/graphql/typedefs/login.ts
Due: npm run format, eslint --fix --ext .ts

feat: graphql survey
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/main/adapters/apollo-server-resolver-adapter.ts
  src/main/adapters/index.ts
  src/main/graphql/apollo/apollo-server.ts
  src/main/graphql/directives/auth-directive.ts
  src/main/graphql/directives/index.ts
  src/main/graphql/resolvers/base.ts
  src/main/graphql/resolvers/index.ts
  src/main/graphql/resolvers/login.ts
  src/main/graphql/resolvers/survey.ts
  src/main/graphql/typedefs/base.ts
  src/main/graphql/typedefs/index.ts
  src/main/graphql/typedefs/survey.ts
  src/presentation/protocols/middleware.ts
Due: npm run format, eslint --fix --ext .ts

feat: graphql survey and survey result typedefs
  src/main/graphql/resolvers/index.ts
  src/main/graphql/resolvers/survey-result.ts
  src/main/graphql/typedefs/index.ts
  src/main/graphql/typedefs/survey-result.ts
Due: npm run format, eslint --fix --ext .ts

test: login tests
  src/infra/db/mongodb/helpers/mongo-helper.ts
  tests/main/graphql/login.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

Path conditions:
  npm run format: any of: *.ts
  eslint --fix --ext .ts: any of: *.ts
  npm run test: any of: *.spec.ts
