Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, eslint --fix --ext .ts, npm run test

.lintstagedrc.json:

{
  "*.ts": ["npm run format", "eslint --fix --ext .ts"],
  "*.spec.ts": ["npm run test"]
}

chore: tag 2.2.1
  package.json
Due: none

chore: add swagger
  package-lock.json
  package.json
Due: none

feat: add swagger api
  src/main/config/app.ts
  src/main/config/config-swagger.ts
  src/main/docs/index.ts
Due: npm run format, eslint --fix --ext .ts

feat: add no cache middleware
  src/main/middlewares/no-cache.ts
Due: npm run format, eslint --fix --ext .ts

test: add no cache middleware
  tests/main/middlewares/no-cache.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

feat: apply no cache middleware on swagger api
  src/main/config/config-swagger.ts
Due: npm run format, eslint --fix --ext .ts

feat: login docs
  src/main/docs/CleanArchitecture.jpg
  src/main/docs/architecture.drawio
  src/main/docs/index.ts
  src/main/docs/login-path.ts
  src/main/docs/requirements/add-survey-result.md
  src/main/docs/requirements/load-surveys.md
  src/main/docs/requirements/login.md
  src/main/docs/requirements/save-survey-result.md
  src/main/docs/requirements/signup.md
  src/main/docs/requirements/surveys.md
  src/main/docs/schemas/account-schema.ts
  src/main/docs/schemas/login-params-schema.ts
Due: npm run format, eslint --fix --ext .ts

docs: signup swagger docs
  src/main/docs/components/bad-request.ts
  src/main/docs/components/forbidden.ts
  src/main/docs/components/index.ts
  src/main/docs/components/not-found.ts
  src/main/docs/components/server-error.ts
  src/main/docs/components/unauthorized.ts
  src/main/docs/index.ts
  src/main/docs/login-path.ts
  src/main/docs/paths/index.ts
  src/main/docs/paths/login-path.ts
  src/main/docs/paths/signup-path.ts
  src/main/docs/schemas/account-schema.ts
  src/main/docs/schemas/error-schema.ts
  src/main/docs/schemas/index.ts
  src/main/docs/schemas/signup-params-schema.ts
Due: npm run format, eslint --fix --ext .ts

docs: survey swagger docs
  src/main/docs/paths/index.ts
  src/main/docs/paths/survey-path.ts
  src/main/docs/paths/survey-result-path.ts
  src/main/docs/requirements/surveys.md
  src/main/docs/schemas/add-survey-params-schema.ts
  src/main/docs/schemas/index.ts
  src/main/docs/schemas/save-survey-params-schema.ts
  src/main/docs/schemas/survey-answer-schema.ts
  src/main/docs/schemas/survey-result-answer.schema.ts
  src/main/docs/schemas/survey-result-schema.ts
  src/main/docs/schemas/survey-schema.ts
  src/main/docs/schemas/surveys-schema.ts
Due: npm run format, eslint --fix --ext .ts

--amend
  src/main/docs/schemas/survey-result-answer.schema.ts
  src/main/docs/schemas/survey-schema.ts
Due: npm run format, eslint --fix --ext .ts

--amend
  requirements/CleanArchitecture.jpg
  requirements/add-survey-result.md
  requirements/architecture.drawio
  requirements/load-surveys.md
  requirements/login.md
  requirements/save-survey-result.md
  requirements/signup.md
  requirements/surveys.md
  src/main/docs/components/api-key-auth.ts
  src/main/docs/components/index.ts
Due: npm run format, eslint --fix --ext .ts

--amend
  src/main/docs/schemas/add-survey-params-schema.ts
  src/main/docs/schemas/login-params-schema.ts
  src/main/docs/schemas/save-survey-params-schema.ts
  src/main/docs/schemas/signup-params-schema.ts
  src/main/docs/schemas/survey-answer-schema.ts
  src/main/docs/schemas/survey-result-answer.schema.ts
  src/main/docs/schemas/survey-result-schema.ts
  src/main/docs/schemas/survey-schema.ts
  src/main/docs/schemas/surveys-schema.ts
Due: npm run format, eslint --fix --ext .ts

--amend
  .github/workflows/main.yml
  thunder-tests/thunderActivity.json
Due: none

chore: version 2.2.2
  package.json
Due: none

refactor: survey result return
  src/data/protocols/db/survey/load-survey-by-id-repository.ts
  src/data/protocols/db/survey/load-survey-repository.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id.ts
  src/data/usecases/survey/load-surveys/db-load-surveys.ts
  src/domain/models/survey-result.ts
  src/domain/models/survey.ts
  src/domain/usecases/survey/add-survey.ts
  src/domain/usecases/survey/load-surveys-by-id.ts
  src/domain/usecases/survey/load-surveys.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  tests/data/mocks/mock-db-survey.ts
  tests/data/usecases/db-save-survey-result.spec.ts
  tests/domain/mocks/mock-survey-result.ts
  tests/domain/mocks/mock-survey.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: save survey
  src/data/protocols/db/survey/save-survey-result-repository.ts
  src/domain/models/survey-result.ts
  src/infra/db/mongodb/query-builder.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  tests/infra/db/mongodb/survey-result-mongo-repository.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: some tests
  .gitignore
  src/data/protocols/db/survey/load-survey-result-repository.ts
  src/domain/models/survey-result.ts
  src/infra/db/mongodb/helpers/mongo-helper.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  src/main/factories/controllers/survey-result/save-survey-result/save-survey-result-controller.factory.ts
  src/main/factories/usecases/survey/load-answers-by-survey-factory.ts
  src/main/factories/usecases/survey/save-survey-result-factory.ts
  src/main/routes/survey-result-routes.spec.ts
  tests/domain/mocks/mock-survey-result.ts
  tests/domain/mocks/mock-survey.ts
  tests/infra/db/mongodb/survey-mongo-repository.spec.ts
  tests/infra/db/mongodb/survey-result-mongo-repository.spec.ts
  tests/presentation/controllers/save-survey-result-controller.spec.ts
  thunder-tests/collections/tc_col_clean-node-api.json
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: survey routes
  src/infra/db/mongodb/helpers/index.ts
  src/infra/db/mongodb/helpers/query-builder.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  src/main/routes/survey-routes.spec.ts
  tests/data/mocks/mock-criptography.ts
  tests/data/mocks/mock-db-account.ts
  tests/data/usecases/db-authentication.spec.ts
  tests/data/usecases/db-load-surveys.spec.ts
  tests/domain/mocks/mock-account.ts
  tests/domain/mocks/mock-survey.ts
  tests/infra/db/mongodb/helpers/mongo-helper.spec.ts
  tests/presentation/controllers/signup-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: survey routes
  .vscode/launch.json
  src/main/routes/survey-routes.spec.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller.ts
  tests/presentation/controllers/add-survey-controller.spec.ts
  tests/presentation/mocks/mock-survey.ts
  thunder-tests/collections/tc_col_clean-node-api.json
Due: npm run format, eslint --fix --ext .ts, npm run test

chore: tag 2.3.0
  package.json
Due: none

feat: add survey result usecase
  src/domain/usecases/survey-result/load-survey-result.ts
Due: npm run format, eslint --fix --ext .ts

feat: ensure DbLoadSurveyResult calls LoadSurveyResultRepository with correct values
  src/data/protocols/db/survey/load-survey-result-repository.ts
  src/domain/usecases/load-survey-result/db-load-survey-result.ts
  src/domain/usecases/survey/load-survey-result.ts
  tests/presentation/mocks/mock-survey.ts
Due: npm run format, eslint --fix --ext .ts

test: ensure DbLoadSurveyResult calls LoadSurveyResultRepository with correct values
  tests/data/usecases/db-load-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: move sut creator to a factory method
  tests/data/usecases/db-load-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: move mockLoadSurveyResultRepository to a separated file
  tests/data/mocks/mock-db-survey-result.ts
  tests/data/usecases/db-load-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

test: should throw if LoadSurveyResultRepository throws
  src/domain/usecases/load-survey-result/db-load-survey-result-protocols.ts
  src/domain/usecases/load-survey-result/db-load-survey-result.ts
  tests/data/usecases/db-load-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

feat: ensure DbLoadSurveyResult returns a SurveyResult on sucess
  src/domain/usecases/load-survey-result/db-load-survey-result.ts
Due: npm run format, eslint --fix --ext .ts

test: ensure DbLoadSurveyResult returns a SurveyResult on sucess
  tests/data/usecases/db-load-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: move the responsability to load survey to Usecase
  src/data/protocols/db/survey/load-survey-result-repository.ts
  tests/data/usecases/db-save-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: LoadSurveyResultRepository
  src/domain/usecases/load-survey-result/db-load-survey-result.ts
  src/domain/usecases/survey/load-survey-result.ts
  tests/data/mocks/mock-db-survey-result.ts
  tests/data/usecases/db-load-survey-result.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: move controllers test to correct folder
  tests/main/presentation/controllers/add-survey-controller.spec.ts
  tests/main/presentation/controllers/load-survey-controller.spec.ts
  tests/main/presentation/controllers/load-surveys-controller.spec.ts
  tests/main/presentation/controllers/login-controller.spec.ts
  tests/main/presentation/controllers/save-survey-result-controller.spec.ts
  tests/main/presentation/controllers/signup-controller.spec.ts
  tests/main/presentation/middlewares/auth-middleware.spec.ts
  tests/main/presentation/mocks/index.ts
  tests/main/presentation/mocks/mock-account.ts
  tests/main/presentation/mocks/mock-survey.ts
  tests/main/presentation/mocks/mock-validation.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: move routes test to src test folder
  tests/main/routes/login-routes.spec.ts
  tests/main/routes/survey-result-routes.spec.ts
  tests/main/routes/survey-routes.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

refactor: load survey result controller
  requirements/load-survey-result.md
  src/domain/usecases/survey/load-survey-by-id.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller.ts
  src/presentation/controllers/survey/load-survey-result/load-survey-controller.protocols.ts
  src/presentation/controllers/survey/load-survey-result/load-survey-result-controller.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller-protocols.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller.ts
  src/presentation/helpers/http/http-helper.ts
  src/presentation/helpers/http/index.ts
  src/validation/validators/compare-fields-validation.ts
  src/validation/validators/email-validation.ts
  src/validation/validators/index.ts
  tests/main/presentation/controllers/add-survey-controller.spec.ts
  tests/main/presentation/controllers/load-survey-result-controller.spec.ts
  tests/main/presentation/controllers/load-surveys-controller.spec.ts
  tests/main/presentation/controllers/login-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

feat: ensure CheckSurveyById throws if LoadSurveyResultController throws
  src/presentation/controllers/survey/load-survey-result/load-survey-result-controller.ts
Due: npm run format, eslint --fix --ext .ts

test: ensure CheckSurveyById throws if LoadSurveyResultController throws
  tests/main/presentation/controllers/load-survey-result-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

feat: ensure LoadSurveyResult is called with correct values
  package-lock.json
  package.json
  src/presentation/controllers/survey/load-survey-result/load-survey-result-controller.ts
  tests/main/presentation/mocks/mock-survey.ts
Due: npm run format, eslint --fix --ext .ts

test: ensure LoadSurveyResult is called with correct values
  tests/main/presentation/controllers/load-survey-result-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test

test: ensure LoadSurveyResult throws if LoadSurveyResultController throws
  tests/main/presentation/controllers/load-survey-result-controller.spec.ts
Due: npm run format, eslint --fix --ext .ts, npm run test
