Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurvey calls AddSurveyRepository with correct values
  src/data/protocols/db/survey/add-survey-repository.ts
  src/data/usecases/db-add-survey/add-survey-protocols.ts
  src/data/usecases/db-add-survey/db-add-survey.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurvey calls AddSurveyRepository with correct values
  src/data/usecases/db-add-survey/db-add-survey.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move sut creation to a factory method
  src/data/usecases/db-add-survey/db-add-survey.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbAddSurvey throws if AddSurveyRepository throws
  src/data/usecases/add-account/db-add-account.spec.ts
  src/data/usecases/db-add-survey/db-add-survey.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure SurveyMongoRepository add a new survey on success
  src/infra/db/mongodb/account-repository/account-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure SurveyMongoRepository add a new survey on success
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: add AddSurvey Composition
  package-lock.json
  package.json
  src/main/adapters/express/express-route-adapter.ts
  src/main/config/routes.ts
  src/main/factories/controllers/add-survey/add-survey-controller.factory.ts
  src/main/factories/controllers/add-survey/add-survey-validation-factory.spec.ts
  src/main/factories/controllers/add-survey/add-survey-validation-factory.ts
  src/main/factories/controllers/login/login-validation-factory.spec.ts
  src/main/factories/controllers/login/login-validation-factory.ts
  src/main/factories/controllers/signup/signup-validation-factory.spec.ts
  src/main/factories/controllers/signup/signup-validation-factory.ts
  src/main/factories/usecases/add-survey/db-add-survey-factory.ts
  src/main/routes/survey-routes.spec.ts
  src/main/routes/survey-routes.ts
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/add-survey/add-survey-controller.ts
  src/presentation/protocols/controller.ts
  src/validation/validators/validation-composite.spec.ts
  src/validation/validators/validation-composite.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

docs: update requirements
  docs/requirements/add-survey.md
Due: none

feat: add middleware interface
  src/presentation/protocols/middleware.ts
Due: eslint 'src/**/*.ts' --fix

feat: ensure AuthMiddleware returns 403 if not headers are found
  src/presentation/errors/access-denied-error.ts
  src/presentation/errors/index.ts
  src/presentation/middlewares/auth-middleware.ts
  src/presentation/protocols/http.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AuthMiddleware returns 403 if not headers are found
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AuthMiddleware calls LoadAccountByToken with correct token
  src/domain/usecases/load-account-by-token.ts
  src/presentation/middlewares/auth-middleware.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AuthMiddleware calls LoadAccountByToken with correct token
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move sut creator to a helper method
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move request creation to factory method
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure AuthMiddleware returns 403 if LoadAccountByToken returns null
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AuthMiddleware returns 200 if LoadAccountByToken succeds
  src/presentation/middlewares/auth-middleware.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AuthMiddleware returns 200 if LoadAccountByToken succeds
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AuthMiddleware returns 400 if LoadAccountByToken throws
  src/presentation/middlewares/auth-middleware.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AuthMiddleware returns 400 if LoadAccountByToken throws
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AuthMiddleware calls LoadAccountByToken with correct role
  src/presentation/middlewares/auth-middleware.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AuthMiddleware calls LoadAccountByToken with correct role
  src/presentation/middlewares/auth-middleware.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move AuthMiddleware dependencies to a protocol file
  src/presentation/middlewares/auth-middleware-protocols.ts
  src/presentation/middlewares/auth-middleware.spec.ts
  src/presentation/middlewares/auth-middleware.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure DbLoadAccountByToken calls Decrypter with correct value
  src/data/protocols/criptography/decrypter.ts
  src/domain/usecases/authentication/db-load-account-by-token.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure DbLoadAccountByToken calls Decrypter with correct value
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move sut creator to a factory method
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbLoadAccountByToken returns null if Decrypter returns null
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
  src/domain/usecases/authentication/db-load-account-by-token.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure DbLoadAccountByToken calls loadAccountByTokenRepository with correct values
  src/data/protocols/db/account/load-account-by-email-repository.ts
  src/data/protocols/db/account/load-account-by-token-repository.ts
  src/domain/usecases/authentication/db-load-account-by-token.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure DbLoadAccountByToken calls loadAccountByTokenRepository with correct values
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbLoadAccountByToken returns null if LoadAccountByTokenRepository returns null
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure DbLoadAccountByToken returns an account on success
  src/domain/usecases/authentication/db-load-account-by-token.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure DbLoadAccountByToken returns an account on success
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbLoadAccountByToken throws if any dependency throws
  src/domain/usecases/authentication/db-load-account-by-token.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move dbLoadAccountByToken to a correct usecase folder
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
  src/domain/usecases/authentication/db-authentication-protocols.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: fix some implementation issues
  src/data/usecases/add-account/db-add-account.ts
  src/infra/criptography/bcrypt-adapter/bcrypt-adapter.spec.ts
  src/infra/criptography/bcrypt-adapter/encrypt-adapter.ts
  src/main/factories/controllers/signup/signup-controller-factory.ts
  src/main/factories/usecases/add-account/db-add-account-factory.ts
  src/main/factories/usecases/authentication/db-authentication-factory.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: separate tests in the describe blocks
  src/infra/criptography/bcrypt-adapter/bcrypt-adapter.spec.ts
  src/infra/criptography/jwt-adapter/jwt-adapter.spec.ts
  src/infra/criptography/jwt-adapter/jwt-adapter.ts
  src/infra/db/mongodb/account-repository/account-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure jwtAdapter calls verify with correct values
  src/infra/criptography/jwt-adapter/jwt-adapter.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure jwtAdapter returns a decrypted value on verify success
  src/infra/criptography/jwt-adapter/jwt-adapter.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure jwtAdapter returns a decrypted value on verify success
  src/infra/criptography/jwt-adapter/jwt-adapter.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure jwtAdapter throws if verify throws
  src/infra/criptography/jwt-adapter/jwt-adapter.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

Path conditions:
  eslint 'src/**/*.ts' --fix: any of: *.ts
  npm run test: any of: *.spec.ts
