Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.ts' --fix, npm run test

.lintstagedrc.json:

{
  "*.ts": ["eslint 'src/**/*.ts' --fix"],
  "*.spec.ts": ["npm run test"]
}

refactor: organize main layer folders
  src/main/adapters/express-route-adapter.ts
  src/main/factories/controllers/login/login/login-controller-factory.ts
  src/main/factories/controllers/login/login/login-validation-factory.spec.ts
  src/main/factories/controllers/login/login/login-validation-factory.ts
  src/main/factories/controllers/signup/signup/signup-controller-factory.ts
  src/main/factories/controllers/signup/signup/signup-validation-factory.spec.ts
  src/main/factories/controllers/survey/add-survey/add-survey-controller.factory.ts
  src/main/factories/controllers/survey/add-survey/add-survey-validation-factory.spec.ts
  src/main/factories/controllers/survey/add-survey/add-survey-validation-factory.ts
  src/main/factories/usecases/account/add-account/db-add-account-factory.ts
  src/main/factories/usecases/account/authentication/db-authentication-factory.ts
  src/main/factories/usecases/survey/add-survey/db-add-survey-factory.ts
  src/main/routes/login-routes.ts
  src/main/routes/survey-routes.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: rename db layers folders
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
  src/infra/db/mongodb/account/account-mongo-repository.ts
  src/infra/db/mongodb/log/log-mongo-repository.spec.ts
  src/infra/db/mongodb/log/log-mongo-repository.ts
  src/main/factories/decorators/log-controller-decorator-factory.ts
  src/main/factories/usecases/account/add-account/db-add-account-factory.ts
  src/main/factories/usecases/account/authentication/db-authentication-factory.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AccountMongoRepository find an account by token without role
  src/infra/db/mongodb/account/account-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AccountMongoRepository find an account by token without role
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure AccountMongoRepository find an account by token with role
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure AccountMongoRepository will not find account if findAccountByToken fails
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure AddSurvey route returns 403 if no accessToken is provided
  src/main/adapters/express-middleware-adapter.ts
  src/main/factories/middlewares/auth-middleware-factory.ts
  src/main/factories/usecases/load-account-by-token/db-load-account-by-token-factory.ts
  src/main/routes/survey-routes.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure AddSurvey route returns 403 if no accessToken is provided
  src/main/routes/survey-routes.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure AddSurvey route returns 204 if valid accessToken is provided
  src/main/routes/survey-routes.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

fix: ensure AccountMongoRepository allows admin to access any route
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
  src/infra/db/mongodb/account/account-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

chore: release 1.3.0
  package.json
Due: none

docs: update requirements
  docs/requirements/add-survey.md
Due: none

chore: coveralls on actions
  .github/workflows/main.yml
Due: none

refactor: change addSurvey to insert date also
  src/data/usecases/db-add-survey/db-add-survey.spec.ts
  src/domain/usecases/add-survey.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/add-survey/add-survey-controller.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

docs: update requirements
  README.md
  docs/architecture.drawio
  docs/requirements/surveys.md
Due: none

docs: update requirements
  docs/requirements/add-survey-result.md
  docs/requirements/add-survey.md
  docs/requirements/surveys.md
Due: none

docs: update requirements
  docs/requirements/surveys.md
Due: none

docs: update requirements
  docs/requirements/load-surveys.md
Due: none

feat: should call LoadSurvey with correct values
  src/domain/models/survey.ts
  src/domain/usecases/add-survey.ts
  src/domain/usecases/load-surveys.ts
  src/presentation/controllers/load-surveys/load-surveys-controller-protocols.ts
  src/presentation/controllers/load-surveys/load-surveys-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: should call LoadSurvey with correct values
  src/presentation/controllers/load-surveys/load-surveys-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

fix: package.json items order
  package.json
Due: none

refactor: move sut creation to a factory method
  src/presentation/controllers/load-surveys/load-surveys-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure LoadSurveyController return 200 on success
  src/presentation/controllers/load-surveys/load-surveys-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure LoadSurveyController return 200 on success
  src/presentation/controllers/load-surveys/load-surveys-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure LoadSurveyController return 500 if LoadSurveys usecase throws
  src/presentation/controllers/load-surveys/load-surveys-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure LoadSurveyController return 500 if LoadSurveys usecase throws
  src/presentation/controllers/load-surveys/load-surveys-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure LoadSurveyController return 204 if there is no content
  src/presentation/controllers/load-surveys/load-surveys-controller.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure LoadSurveyController return 204 if there is no content
  src/presentation/controllers/load-surveys/load-surveys-controller.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move authentication to correct layer
  src/data/usecases/authentication/db-authentication-protocols.ts
  src/data/usecases/authentication/db-authentication.spec.ts
  src/data/usecases/authentication/db-authentication.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
  src/main/factories/usecases/account/authentication/db-authentication-factory.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure DbLoadSurveys calls LoadSurveysRepository
  src/data/protocols/db/survey/add-survey-repository copy.ts
  src/data/protocols/db/survey/load-survey-repository.ts
  src/data/usecases/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
  src/data/usecases/load-surveys/db-load-surveys.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move sut creation to a factory method
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure DbLoadSurveys returns a list of surveys on success
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbLoadSurveys throws if LoadSurveyRepository throws
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: organize mongo repository tests in describes
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

fix: some wrong imports
  src/data/protocols/db/survey/add-survey-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix

feat: ensure SurveyMongoRepository load all surveys
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure SurveyMongoRepository load all surveys
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test
