Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.ts' --fix, npm run test

test: ensure SurveyMongoRepository returns empty list if there are no surveys
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure loadSurveysRoutes returns 403 if no access token is provided
  src/main/factories/controllers/survey/add-survey/load-surveys-controller.factory.ts
  src/main/factories/usecases/survey/add-survey/load-surveys/db-load-surveys.ts
  src/main/routes/survey-routes.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure LoadSurveysRouter returns 403 if no valid accessToken is provided
  src/main/routes/survey-routes.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move auth middlewares to separate files
  src/main/factories/middlewares/admin-auth.ts
  src/main/factories/middlewares/auth.ts
  src/main/routes/survey-routes.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure load surveys route returns 200 if a valid token is provide
  src/main/routes/survey-routes.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: move accessToken creation to a factory method
  src/main/routes/survey-routes.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

docs: update requirements
  docs/requirements/load-surveys.md
Due: none

fix: signup
  src/main/factories/controllers/signup/signup/signup-controller-factory.ts
Due: eslint 'src/**/*.ts' --fix

chore: release 1.4.0
  package.json
Due: none

fix: timers
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

chore: change import paths
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
  src/infra/db/mongodb/account/account-mongo-repository.ts
  src/main/adapters/express-middleware-adapter.ts
  src/main/adapters/express-route-adapter.ts
  src/main/factories/controllers/login/login/login-controller-factory.ts
  src/main/factories/controllers/signup/signup/signup-controller-factory.ts
  src/main/factories/controllers/survey/add-survey/add-survey-controller.factory.ts
  src/main/factories/controllers/survey/add-survey/load-surveys-controller.factory.ts
  src/main/factories/usecases/survey/load-surveys/db-load-surveys.ts
  src/main/routes/login-routes.spec.ts
  src/validation/validators/compare-fields-validation.ts
  src/validation/validators/index.ts
  src/validation/validators/validation-composite.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

chore: replace interface of sutypes to type aliases
  .eslintrc.js
  src/data/usecases/add-account/db-add-account.spec.ts
  src/data/usecases/authentication/db-authentication.spec.ts
  src/data/usecases/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
  src/main/decorators/log-controller-decorator.spec.ts
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/load-surveys/load-surveys-controller.spec.ts
  src/presentation/controllers/login/login/login-controller.spec.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/middlewares/auth-middleware.spec.ts
  src/validation/validators/email-validation.spec.ts
  src/validation/validators/validation-composite.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

chore: typescript paths
  package.json
Due: none

chore: update node
  .nvmrc
  docker-compose.yml
  package-lock.json
  package.json
  src/main/server.ts
Due: eslint 'src/**/*.ts' --fix

refactor: change models to use omit
  src/domain/models/survey.ts
  src/domain/usecases/add-account.ts
  src/domain/usecases/add-survey.ts
Due: eslint 'src/**/*.ts' --fix

chore: tag 2.0.2
  package.json
Due: none

feat: add survey result model
  src/domain/models/survey-result.ts
Due: eslint 'src/**/*.ts' --fix

feat: add load survey by id usecase
  src/domain/usecases/load-surveys-by-id.ts
Due: eslint 'src/**/*.ts' --fix

feat: add save survey result usecase
  src/domain/usecases/save-survey-result.ts
Due: eslint 'src/**/*.ts' --fix

feat: ensure LoadSurveyById calls LoadSurveyByIdRepository with correct values
  src/data/protocols/db/survey/load-survey-by-id-repository.ts
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure LoadSurveyById calls LoadSurveyByIdRepository with correct values
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure LoadSurveyById returns a Survey if LoadSurveyByIdRepository succeds
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure LoadSurveyById returns a Survey if LoadSurveyByIdRepository succeds
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure LoadSurveyById throws LoadSurveyByIdRepository throws
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: add data usecases protocol file
  src/data/usecases/load-account-by-token/db-load-account-by-token-protocols.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
  src/data/usecases/load-survey-by-id/db-load-survey-by-id-protocols.ts
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.spec.ts
  src/data/usecases/load-survey-by-id/db-load-survey-by-id.ts
  src/data/usecases/load-surveys/db-load-survey-protocols.ts
  src/data/usecases/load-surveys/db-load-surveys.spec.ts
  src/data/usecases/load-surveys/db-load-surveys.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: change load account by token repository interface return signature to accepts null
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
  src/domain/usecases/load-account-by-token.ts
Due: eslint 'src/**/*.ts' --fix

refactor: move update access token repository to account folder
  src/data/protocols/db/account/update-access-token-repository.ts
Due: eslint 'src/**/*.ts' --fix

fix: addsurvey model
  src/domain/usecases/add-survey.ts
Due: eslint 'src/**/*.ts' --fix

feat: ensure DbSaveSurveyResult calls SaveSurveyResultRepository with correct values
  src/data/protocols/db/survey/save-survey-result-repository.ts
  src/data/usecases/save-survey-result/db-save-survey-result.protocols.ts
  src/data/usecases/save-survey-result/db-save-survey-result.ts
  src/domain/models/survey-result.ts
Due: eslint 'src/**/*.ts' --fix

test: ensure DbSaveSurveyResult calls SaveSurveyResultRepository with correct values
  src/data/usecases/save-survey-result/db-save-survey-result.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

--ammend
  src/data/usecases/save-survey-result/db-save-survey-result.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: should throw if DbSaveSurveyResult throws
  src/data/usecases/save-survey-result/db-save-survey-result.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

test: ensure DbSaveSurveyResult returns a new survey result on success
  src/data/usecases/save-survey-result/db-save-survey-result.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: ensure SurveyMongoRepository find survey by id with success
  src/infra/db/mongodb/account/account-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix

refactor: mongo helper with generics
  src/infra/db/mongodb/account/account-mongo-repository.ts
  src/infra/db/mongodb/helpers/mongo-helper.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

feat: should add a survey result if its new
  src/infra/db/mongodb/survey/survey-result/survey-result-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix

test: should add a survey result if its new
  src/infra/db/mongodb/survey/survey-result/survey-result-mongo-repository.spec.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

fix: ensure SurveyMongoRepository uses MongoHelper.map in all methods
  src/infra/db/mongodb/helpers/mongo-helper.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: improve code structure
  .lintstagedrc.json
  package.json
  src/data/protocols/criptography/index.ts
  src/data/protocols/db/account/add-account-repository.ts
  src/data/usecases/account/add-account/db-add-account-protocols.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/account/add-account/db-add-account.ts
  src/data/usecases/add-account/db-add-account-protocols.ts
  src/data/usecases/add-account/db-add-account.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token-protocols.ts
  src/data/usecases/save-survey-result/db-save-survey-result.protocols.ts
  src/data/usecases/survey/db-add-survey/add-survey-protocols.ts
  src/data/usecases/survey/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/survey/db-add-survey/db-add-survey.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id-protocols.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id.spec.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id.ts
  src/data/usecases/survey/load-surveys/db-load-survey-protocols.ts
  src/data/usecases/survey/load-surveys/db-load-surveys.spec.ts
  src/data/usecases/survey/load-surveys/db-load-surveys.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.protocols.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.spec.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.ts
  src/domain/usecases/account/add-account.ts
  src/domain/usecases/account/authentication.ts
  src/domain/usecases/account/load-account-by-token.ts
  src/domain/usecases/survey-result/save-survey-result.ts
  src/domain/usecases/survey/add-survey.ts
  src/domain/usecases/survey/load-surveys-by-id.ts
  src/domain/usecases/survey/load-surveys.ts
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
  src/infra/db/mongodb/account/account-mongo-repository.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  src/main/factories/usecases/account/add-account/db-add-account-factory.ts
  src/main/factories/usecases/survey/add-survey/db-add-survey-factory.ts
  src/main/factories/usecases/survey/add-survey/load-surveys/db-load-surveys.ts
  src/main/factories/usecases/survey/load-surveys/db-load-surveys.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

refactor: usecases
  src/data/usecases/account/add-account/authentication/db-authentication-protocols.ts
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/authentication/db-authentication.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/main/factories/usecases/account/authentication/db-authentication-factory.ts
Due: eslint 'src/**/*.ts' --fix, npm run test

Path conditions:
  eslint 'src/**/*.ts' --fix: any of: *.ts
  npm run test: any of: *.spec.ts
