Repository crislerwin/clean-node-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm run test

.lintstagedrc.json:

{
  "*.ts": ["npm run lint", "npm run format"],
  "*.spec.ts": ["npm run test"]
}

fix: import
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/survey/db-add-survey/db-add-survey.ts
Due: npm run lint, npm run format, npm run test

fix: paths
  .eslintrc.js
  .lintstagedrc.json
  package.json
  src/data/protocols/db/survey/add-survey-repository.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token-protocols.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
  src/main/decorators/log-controller-decorator.ts
  src/main/factories/usecases/account/add-account/db-add-account-factory.ts
  src/main/factories/usecases/load-account-by-token/db-load-account-by-token-factory.ts
  src/main/factories/usecases/survey/add-survey/db-add-survey-factory.ts
  src/main/factories/usecases/survey/add-survey/load-surveys/db-load-surveys.ts
  src/main/factories/usecases/survey/load-surveys/db-load-surveys.ts
  src/presentation/controllers/add-survey/add-survey-controller-protocols.ts
  src/presentation/controllers/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/load-surveys/load-surveys-controller-protocols.ts
  src/presentation/controllers/load-surveys/load-surveys-controller.ts
  src/presentation/controllers/login/login/login-controller-protocols.ts
  src/presentation/controllers/login/login/login-controller.spec.ts
  src/presentation/controllers/login/login/login-controller.ts
  src/presentation/controllers/login/signup/signup-controller-protocols.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/controllers/login/signup/signup-controller.ts
  src/presentation/middlewares/auth-middleware-protocols.ts
  src/presentation/middlewares/auth-middleware.spec.ts
Due: npm run lint, npm run format, npm run test

refactor: return
  .eslintrc.js
  src/data/usecases/load-account-by-token/db-load-account-by-token.ts
Due: npm run lint, npm run format

refactor: move survey controllers to specific survey folder
  src/main/factories/controllers/survey/add-survey/add-survey-controller.factory.ts
  src/main/factories/controllers/survey/add-survey/load-surveys-controller.factory.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller-protocols.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller-protocols.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller.spec.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller.ts
Due: npm run lint, npm run format, npm run test

refactor: move signup validation to correct folder
  src/main/factories/controllers/signup/signup/signup-controller-factory.ts
  src/main/factories/controllers/signup/signup/signup-validation-factory.spec.ts
  src/main/factories/controllers/signup/signup/signup-validation-factory.ts
Due: npm run lint, npm run format, npm run test

feat: save-survey-controller
  src/presentation/controllers/survey/save-survey-result/save-survey-result-controller.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result-protocols.ts
  src/presentation/protocols/http.ts
Due: npm run lint, npm run format

test: save-survey-controller
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

feat: should throws if LoadSurveyById throws
  src/presentation/controllers/survey/save-survey-result/save-survey-result-controller.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result-protocols.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

feat: should return 403 if an invalid answer is provided
  src/presentation/controllers/survey/save-survey-result/save-survey-result-controller.ts
Due: npm run lint, npm run format

test: should return 403 if an invalid answer is provided
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

feat: ensure SaveSurveyResultController calls SaveSurveyResult with correct values
  src/domain/models/survey-result.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result-controller.ts
  src/presentation/protocols/http.ts
Due: npm run lint, npm run format

test: ensure SaveSurveyResultController calls SaveSurveyResult with correct values
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

docs: update requirements
  docs/requirements/add-survey-result.md
  docs/requirements/load-surveys.md
  docs/requirements/save-survey-result.md
Due: none

docs: update requirements
  docs/requirements/save-survey-result.md
Due: none

feat: survey results
  package-lock.json
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  src/main/factories/controllers/survey-result/save-survey-result/save-survey-result-controller.factory.ts
  src/main/factories/controllers/survey/add-survey/load-surveys-controller.factory.ts
  src/main/factories/usecases/survey/add-survey/load-survey-by-id/db-load-survey-by-id-factory.ts
  src/main/factories/usecases/survey/add-survey/load-surveys/db-load-surveys-factory.ts
  src/main/factories/usecases/survey/load-surveys/db-load-surveys-factory.ts
  src/main/factories/usecases/survey/survey-result/save-survey-result/db-save-survey-result-factory.ts
  src/main/routes/survey-result-routes.spec.ts
  src/main/routes/survey-result-routes.ts
Due: npm run lint, npm run format, npm run test

feat: ensure survey route result returns 403 if invalid param is provided
  src/main/config/routes.ts
  src/main/routes/survey-result-routes.spec.ts
Due: npm run lint, npm run format, npm run test

test: ensure save survey result route returns 200 on success
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  src/main/adapters/express-route-adapter.ts
  src/main/config/custom-module.d.ts
Due: npm run lint, npm run format

test: ensure save survey result route returns 200 on success
  src/main/routes/survey-result-routes.spec.ts
Due: npm run lint, npm run format, npm run test

feat: thunderclient requests
  thunder-tests/collections/tc_col_clean-node-api.json
  thunder-tests/thunderActivity.json
Due: none

chore: release 2.1.0
  package.json
Due: none

refactor: rename arguments models suffix from model to params
  src/data/protocols/db/account/add-account-repository.ts
  src/data/protocols/db/survey/add-survey-repository.ts
  src/data/protocols/db/survey/save-survey-result-repository.ts
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/authentication/db-authentication.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/account/add-account/db-add-account.ts
  src/data/usecases/survey/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/survey/db-add-survey/db-add-survey.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.spec.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.ts
  src/domain/models/survey-result.ts
  src/domain/usecases/account/add-account.ts
  src/domain/usecases/account/authentication.ts
  src/domain/usecases/survey/add-survey.ts
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
  src/infra/db/mongodb/account/account-mongo-repository.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.ts
  src/presentation/controllers/login/login/login-controller.spec.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

refactor: remove duplication
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id.spec.ts
  src/data/usecases/survey/load-surveys/db-load-surveys.spec.ts
  src/domain/test/index.ts
  src/domain/test/mock-account.ts
  src/domain/test/test-helper.ts
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/infra/validators/email-validator-adapter.spec.ts
  src/presentation/controllers/login/login/login-controller.spec.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller.spec.ts
  src/presentation/middlewares/auth-middleware.spec.ts
Due: npm run lint, npm run format, npm run test

refactor: rename mockAccout to mockccountModel
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/domain/test/mock-account.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
  src/presentation/middlewares/auth-middleware.spec.ts
Due: npm run lint, npm run format, npm run test

--ammend
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/domain/test/index.ts
  src/domain/test/mock-criptography.ts
Due: npm run lint, npm run format, npm run test

--amend
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/domain/test/index.ts
  src/domain/test/mock-account.ts
  src/domain/test/mock-db-account.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
Due: npm run lint, npm run format, npm run test

--amend
  src/data/usecases/survey/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id.spec.ts
  src/data/usecases/survey/load-surveys/db-load-surveys.spec.ts
  src/domain/test/index.ts
  src/domain/test/mock-db-log.ts
  src/domain/test/mock-db-survey.ts
  src/domain/test/mock-survey.ts
  src/main/decorators/log-controller-decorator.spec.ts
Due: npm run lint, npm run format, npm run test

--amend
  src/data/usecases/survey/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.spec.ts
  src/domain/test/index.ts
  src/domain/test/mock-survey-result.ts
  src/domain/test/mock-survey.ts
  src/infra/db/mongodb/survey-result/survey-result-mongo-repository.spec.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller.spec.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

--amend
  src/data/usecases/survey/save-survey-result/db-save-survey-result.spec.ts
  src/domain/test/index.ts
  src/domain/test/mock-db-survey-result.ts
Due: npm run lint, npm run format, npm run test

--amend
  src/domain/test/mock-account.ts
Due: npm run lint, npm run format

refactor: rename mock functions
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/domain/test/mock-db-account.ts
Due: npm run lint, npm run format, npm run test

docs: update requests
  src/presentation/controllers/survey/add-survey/add-survey-controller.ts
  thunder-tests/collections/tc_col_clean-node-api.json
Due: npm run lint, npm run format

refactor: move tests folder to root
  .eslintrc.js
  src/data/usecases/account/add-account/authentication/db-authentication.spec.ts
  src/data/usecases/account/add-account/db-add-account.spec.ts
  src/data/usecases/load-account-by-token/db-load-account-by-token.spec.ts
  src/data/usecases/survey/db-add-survey/db-add-survey.spec.ts
  src/data/usecases/survey/load-survey-by-id/db-load-survey-by-id.spec.ts
  src/data/usecases/survey/load-surveys/db-load-surveys.spec.ts
  src/data/usecases/survey/save-survey-result/db-save-survey-result.spec.ts
  src/domain/test/mock-account.ts
  src/infra/db/mongodb/account/account-mongo-repository.spec.ts
  src/infra/db/mongodb/survey/survey-mongo-repository.spec.ts
  src/main/decorators/log-controller-decorator.spec.ts
  src/presentation/controllers/login/login/login-controller.spec.ts
  src/presentation/controllers/login/signup/signup-controller.spec.ts
  src/presentation/controllers/survey/add-survey/add-survey-controller.spec.ts
  src/presentation/controllers/survey/load-surveys/load-surveys-controller.spec.ts
  src/presentation/controllers/survey/save-survey-result/save-survey-result.spec.ts
  src/presentation/middlewares/auth-middleware.spec.ts
  tests/data/mocks/index.ts
  tests/data/mocks/mock-criptography.ts
  tests/data/mocks/mock-db-account.ts
  tests/data/mocks/mock-db-log.ts
  tests/data/mocks/mock-db-survey-result.ts
  tests/data/mocks/mock-db-survey.ts
  tests/domain/mocks/index.ts
  tests/domain/mocks/mock-account.ts
  tests/domain/mocks/mock-survey-result.ts
  tests/domain/mocks/mock-survey.ts
  tests/domain/mocks/test-helper.ts
  thunder-tests/thunderActivity.json
  tsconfig.eslint.json
  tsconfig.json
  vite.config.ts
Due: npm run lint, npm run format, npm run test

refactor: move db usecases to test folder
  tests/data/usecases/db-add-account.spec.ts
  tests/data/usecases/db-add-survey.spec.ts
  tests/data/usecases/db-authentication.spec.ts
  tests/data/usecases/db-load-account-by-token.spec.ts
  tests/data/usecases/db-load-survey-by-id.spec.ts
  tests/data/usecases/db-load-surveys.spec.ts
  tests/data/usecases/db-save-survey-result.spec.ts
Due: npm run lint, npm run format, npm run test

refactor: test files in correct folders
  tests/infra/db/mongodb/account-mongo-repository.spec.ts
  tests/infra/db/mongodb/survey-mongo-repository.spec.ts
  tests/infra/validators/email-validator-adapter.spec.ts
  tests/main/decorators/log-controller-decorator.spec.ts
  tests/main/factories/add-survey-validation-factory.spec.ts
  tests/main/factories/login-validation-factory.spec.ts
  tests/main/factories/signup-validation-factory.spec.ts
  tests/main/middlewares/auth-middleware.spec.ts
  tests/main/validation/mocks/index.ts
  tests/main/validation/mocks/mock-email-validator.ts
  tests/main/validation/validators/compare-fields-validation.spec.ts
  tests/main/validation/validators/email-validation.spec.ts
  tests/main/validation/validators/required-fields-validation.spec.ts
  tests/main/validation/validators/validation-composite.spec.ts
  tests/presentation/controllers/add-survey-controller.spec.ts
  tests/presentation/controllers/load-surveys-controller.spec.ts
  tests/presentation/controllers/login-controller.spec.ts
  tests/presentation/controllers/save-survey-result-controller.spec.ts
  tests/presentation/controllers/signup-controller.spec.ts
Due: npm run lint, npm run format, npm run test

--amend
  tests/infra/cryptography/bcrypt-adapter.spec.ts
  tests/infra/cryptography/jwt-adapter.spec.ts
  tests/main/factories/signup-validation-factory.spec.ts
  tests/main/middlewares/body-parser.spec.ts
  tests/main/middlewares/content-type.spec.ts
  tests/main/middlewares/cors.spec.ts
  tests/main/validation/mocks/mock-email-validator.ts
  tests/presentation/middlewares/auth-middleware.spec.ts
Due: npm run lint, npm run format, npm run test

--amend
  tests/presentation/middlewares/auth-middleware.spec.ts
  tests/presentation/mocks/index.ts
  tests/presentation/mocks/mock-account.ts
Due: npm run lint, npm run format, npm run test

chore: tag 2.2.0
  package.json
Due: none

fix: remove duplications
  .eslintrc.js
  tests/data/usecases/db-add-account.spec.ts
Due: npm run lint, npm run format, npm run test

refactor: promises
  src/infra/criptography/jwt-adapter/jwt-adapter.ts
  tests/data/mocks/mock-criptography.ts
  tests/data/mocks/mock-db-account.ts
  tests/data/mocks/mock-db-log.ts
  tests/data/mocks/mock-db-survey-result.ts
  tests/data/mocks/mock-db-survey.ts
  tests/data/usecases/db-add-account.spec.ts
  tests/data/usecases/db-add-survey.spec.ts
  tests/data/usecases/db-authentication.spec.ts
  tests/data/usecases/db-load-account-by-token.spec.ts
  tests/data/usecases/db-save-survey-result.spec.ts
  tests/domain/mocks/mock-survey-result.ts
  tests/domain/mocks/mock-survey.ts
  tests/infra/cryptography/bcrypt-adapter.spec.ts
  tests/infra/cryptography/jwt-adapter.spec.ts
  tests/main/decorators/log-controller-decorator.spec.ts
  tests/presentation/controllers/add-survey-controller.spec.ts
  tests/presentation/controllers/load-surveys-controller.spec.ts
  tests/presentation/controllers/login-controller.spec.ts
  tests/presentation/controllers/save-survey-result-controller.spec.ts
  tests/presentation/controllers/signup-controller.spec.ts
  tests/presentation/middlewares/auth-middleware.spec.ts
  tests/presentation/mocks/mock-account.ts
Due: npm run lint, npm run format, npm run test
